body{
    background-color: #E3D3C7;
}

img{
    width: 100%;
}

.hero{
    width: 615px;
    height: 562px;
    object-fit: contain;
    margin-left: 100px;
    margin-top: -70px;
}

.hero-image{
    background-image: url("./CRKimages/Black_Sapphire/Black_sapphire_gacha_background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.back{
    width: 140px; 
    height: 75px; 
    background-color: #C0A997;
    border: 2px solid #F7BABA;
}


a{
    text-decoration: none;
    color: inherit; 
    display: contents;
}

.name{
    position: absolute;
    bottom: 70px;
    right: 70px;
    width: 590px;
    height: 165px;
    background-color: #654329;
    border: 5px solid whitesmoke;
}


.rarity{
    position: absolute;
    bottom: 300px;
    right: 185px;
    width: 360px;
    height: 70px;
}

.skillexp{
    display: grid;
    grid-template-columns: 500px 1000px;
    grid-template-rows: 1fr;
}

.element{
    width: 450px;
    height: 450px;
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
}

.skill{
    width: 450px;
    height: 450px;
}

.elementbackground{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 104px;
    height: 104px;
    background-color: #A0846F;
    border: 4px solid black;
    margin-top: -240px;
    margin-left: 450px;
    z-index: +1;
}

.skillexplanation1{
    position: relative;
    margin-top: 50px;
    width: 1300px;
    height: 410px;
    background-color: #C0A997;
    padding: 20px;
    padding-bottom: 20px;
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 50px;
}

.skillexplanation2{
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    width: 1740px;
    height: 500px;
    background-color: #C0A997;
    padding: 50px;
    padding-bottom: 20px;
    border: 2px solid black;
    border-radius: 50px;
}

h1{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.8rem;
    margin-top: 15px;
}
h2{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}
h3{
    width: 1260px;
    font-size: 2rem;
    position: absolute;
    top: 10%;
}

.skill-stats{
    font-size: 1.5rem;
}

.settingbox{
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    width: 1740px;
    height: 500px;
    background-color: #C0A997;
    padding: 50px;
    padding-bottom: 20px;
    border: 2px solid black;
    border-radius: 50px;
}

.cookiesetting{
    width: 480px;
    height: 65px;
    background-color: #A0846F;
    border: 5px solid black;
    border-radius: 25px;
    position: relative;
    padding: 20px;
}

h4{
    font-size: 3rem;
    position: absolute;
    margin-top: 2px;
    margin-bottom: 0;
    width: 480px;
    text-align: center;
}

.toppings{
    width: 120px;
    height: 177px;
    margin-left: 50px;
    margin-top: 50px;
}

