body{
    background-color: #E3D3C7;
}


.hero-image{
    background-image: url("./CRKimages/Hero\ image.webp");
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-bottom: 50px;
}

h1{ 
     color: rgba(255, 0, 98, 0.979);
     position: absolute;
     top: 275px;
     text-align: center;
     width: 100%;
     font-size: 5rem;

}

.image{
    width: 280px;
    height: 270px;
}

img{
    text-align: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -20px 0px;
}

.position-50{
    object-position: -50px;
}

.titles{
    width: 100%;
    text-align: center;
}


.title{
    width: 1000px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    object-position: 0px;
}

.epicbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 405px);
    width: 1295px; 
    height: 2035px; 
    background-color: #D7C4B5; 
    border: 5px solid black; 
    padding: 20px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 280px; 
    height: 331px; 
    background-color: #564639; 
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
}


h2{
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 0px;
    color: white;
}

.separater{
    width: 280px; 
    height: 10px; 
    background-color: #CC9C81; 
    margin: 0px;
}

.everyotherbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 405px);
    width: 1295px; 
    height: 435px; 
    background-color: #D7C4B5; 
    border: 5px solid black; 
    padding: 20px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}